.header,
.content,
.footer {
  margin: 0 auto;
  max-width: 60rem;
}

/* Header */
.header {
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.logo a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav li {
}

.nav a {
  color: #000;
  text-decoration: none;
  transition: all ease 125ms;
  display: flex;
  padding: 2em 1em;
}

.nav a.is-active {
  box-shadow: 0 1px 0 dodgerblue;
}

.nav a:hover {
  color: dodgerblue;
}

/* Main Content */
.content {
  padding: 1rem 0;
}

.hero {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
}

.hero-inner {
  padding-top: 35%;
  background-image: url('../images/hot-air-balloon.webp');
  background-size: cover;
  background-position: center;
  animation: elephant 5s ease infinite;
}

.hero-text {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10%;
  color: #fff;
  font-size: 2.25em;
  text-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.25);
}

.hero-text-inner {}

.hero-text span {
  display: inline;
  color: orange;
  font-weight: bold;
  font-family: cursive;
}

.hero-text a {
  font-size: 1rem;
  text-shadow: none;
  color: #fff !important;
  background-color: orange;
  text-decoration: none;
  padding: 1em 2em;
  margin-top: 0.5em;
  text-align: center;
  display: block;
  border-radius: 1000px;
  font-weight: bold;
  transition: all ease 125ms;
}

.hero-text a:hover {
  background-color: orangered;
  color: #fff !important;
}

.content h2 {
  font-style: italic;
}

.content p {
  line-height: 1.4;
}

.content a:link {
  color: #660099;
}
.content a:visited {
  color: #876399;
}
.content a:hover {
  color: #339900;
}

.content ul {
  list-style: square;
  margin-left: 2em;
}

.content ol {
  margin-left: 1em;
}

.youtube {
  position: relative;
}

.youtube-inner {
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Footer */
.footer {
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 0.9em;
}

@keyframes elephant {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Contact form */
.form {
  max-width: 30rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form label {
  margin-bottom: 0.25em;
  font-size: 0.8em;
  font-weight: bold;
}

.form input,
.form textarea {
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.form textarea {
  min-height: 10rem;
}

.form button {
  border: 2px solid dodgerblue;
  color: dodgerblue;
  font-weight: bold;
  background-color: transparent;
  border-radius: 100px;
  padding: 0.5em 2em;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  transition: all ease 125ms;
  cursor: pointer;
}

.form button:hover {
  background-color: dodgerblue;
  color: #fff;
}